{% extends 'base.html' %}
{% block content %}
<h1>Checkout</h1>
<form>
    <label for="time">Choose a deleivery time:</label>
    <select id="time" name="time">
      <option value="10:00">10:00</option>
      <option value="12:00">12:00</option>
      <option value="14:00">14:00</option>
      <option value="16:00">16:00</option>
    </select>
    <label for="location">Choose a deleivery location:</label>
    <select id="location" name="location">
      <option value="home">Your address</option>
      <option value="kopavogur">Kópavogur</option>
      <option value="hafnarfjordur">Hafnarfjörður</option>
      <option value="reykjavik">Reykjavík</option>
      <option value="gardabaer">Garðabær</option>
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}