{% extends 'base.html' %}
{% block content %}
<h1>Checkout</h1>
<form>
    <label for="Time">Choose a deleivery time:</label>
    <select id="time" name="time">
      <option value="1">Time 1</option>
      <option value="2">Time 2</option>
      <option value="3">Time 3</option>
      <option value="4">Time 4</option>
    </select>
    <label for="location">Choose a deleivery location:</label>
    <select id="location" name="time">
      <option value="1">location 1</option>
      <option value="2">location 2</option>
      <option value="3">location 3</option>
      <option value="4">location 4</option>
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}