{% extends 'base.html' %}
{% block content %}
    <h1>{{ mealplan.name}}</h1>
    <div style="display: flex;">
        <div style="flex: 0 60%;">
            <img src="{{mealplan.image}}" style='max-width: 500px; max-height: 100%;'>
        </div>

        <div style="flex: 1;">
            <h2>Price: {{ mealplan.price }}</h2>
        </div>
    </div>
    
    <p>
        <h2>Ingredients</h2> <br>
        <a>{{ mealplan.ingredients }}</a> <br>
        <h2>Recipe</h2> <br>
        <a>{{ mealplan.recipe }}</a> <br>
        <h2>Allergies</h2>
        <a>{{ mealplan.allergies }}</a>
    </p>
    <div>
        <form
            {% if user.is_authenticated %}
                action="{% url 'cart:add_item' %}"
            {% else %}
                action="#"
            {% endif %}
            method="POST">
            {% csrf_token %}
            <button type="submit" name="id" value={{ mealplan.id }}>
                Add to cart
            </button>
            <input type="number" name="quantity" value=1 min=1 max=10>
        </form>
        <form
            {% if user.is_authenticated %}
                action="{% url 'cart:subscribe' %}"
            {% else %}
                action="#"
            {% endif %}
            method="POST">
            {% csrf_token %}
            <button type="submit" name="id" value={{ mealplan.id }}>
                Subscribe
            </button>
        </form>
    </div>
{% endblock %}