<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team12 Mealpacks babyyyy</title>
</head>
<body>
    <div class="navbar">
    <ul>
        <li><a href="{% url 'Index' %}">Home</a></li>
        <li><a href="{% url 'Profile' %}">Profile page</a></li>
    </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <a>Developed by Team12 all rights reserved &copy {% now "Y" %}</span></a>
    </div>
</body>
</html>